## Problem Statement
In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business
goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn. In this project, you will analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn.

In this competition, your goal is to build a machine learning model that is able to predict churning customers based on the features provided for their usage.

## The notebook consist of below 4 parts

* Data Understanding, Preparation, and Pre-Processing
* Exploratory Data Analysis 
* Feature Engineering and Variable Transformation
* Model Selection, Model Building, and  Prediction

### Data Understanding, Preparation, and Pre-Processing

#### Importing Libraries

In [1]:
import pandas as pd

In [2]:
#reading data
df=pd.read_csv("train (1).csv")

In [3]:
#checking shape of data
df.shape

(69999, 172)

In [4]:
## checking sample of data
df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [5]:
#checking null values and data types in columns
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    id                        69999 non-null  int64
 1    circle_id                 69999 non-null  int64
 2    loc_og_t2o_mou            69297 non-null  float64
 3    std_og_t2o_mou            69297 non-null  float64
 4    loc_ic_t2o_mou            69297 non-null  float64
 5    last_date_of_month_6      69999 non-null  object
 6    last_date_of_month_7      69600 non-null  object
 7    last_date_of_month_8      69266 non-null  object
 8    arpu_6                    69999 non-null  float64
 9    arpu_7                    69999 non-null  float64
 10   arpu_8                    69999 non-null  float64
 11   onnet_mou_6               67231 non-null  float64
 12   onnet_mou_7               67312 non-null  float64
 13   onnet_mou_8               66296 non-null  float64
 14   offnet_mou_6              67231 non-null  float64
 15   offnet_mou_7              67312 non-null  float64
 16   offnet_mou_8              66296 non-null  float64
 17   roam_ic_mou_6             67231 non-null  float64
 18   roam_ic_mou_7             67312 non-null  float64
 19   roam_ic_mou_8             66296 non-null  float64
 20   roam_og_mou_6             67231 non-null  float64
 21   roam_og_mou_7             67312 non-null  float64
 22   roam_og_mou_8             66296 non-null  float64
 23   loc_og_t2t_mou_6          67231 non-null  float64
 24   loc_og_t2t_mou_7          67312 non-null  float64
 25   loc_og_t2t_mou_8          66296 non-null  float64
 26   loc_og_t2m_mou_6          67231 non-null  float64
 27   loc_og_t2m_mou_7          67312 non-null  float64
 28   loc_og_t2m_mou_8          66296 non-null  float64
 29   loc_og_t2f_mou_6          67231 non-null  float64
 30   loc_og_t2f_mou_7          67312 non-null  float64
 31   loc_og_t2f_mou_8          66296 non-null  float64
 32   loc_og_t2c_mou_6          67231 non-null  float64
 33   loc_og_t2c_mou_7          67312 non-null  float64
 34   loc_og_t2c_mou_8          66296 non-null  float64
 35   loc_og_mou_6              67231 non-null  float64
 36   loc_og_mou_7              67312 non-null  float64
 37   loc_og_mou_8              66296 non-null  float64
 38   std_og_t2t_mou_6          67231 non-null  float64
 39   std_og_t2t_mou_7          67312 non-null  float64
 40   std_og_t2t_mou_8          66296 non-null  float64
 41   std_og_t2m_mou_6          67231 non-null  float64
 42   std_og_t2m_mou_7          67312 non-null  float64
 43   std_og_t2m_mou_8          66296 non-null  float64
 44   std_og_t2f_mou_6          67231 non-null  float64
 45   std_og_t2f_mou_7          67312 non-null  float64
 46   std_og_t2f_mou_8          66296 non-null  float64
 47   std_og_t2c_mou_6          67231 non-null  float64
 48   std_og_t2c_mou_7          67312 non-null  float64
 49   std_og_t2c_mou_8          66296 non-null  float64
 50   std_og_mou_6              67231 non-null  float64
 51   std_og_mou_7              67312 non-null  float64
 52   std_og_mou_8              66296 non-null  float64
 53   isd_og_mou_6              67231 non-null  float64
 54   isd_og_mou_7              67312 non-null  float64
 55   isd_og_mou_8              66296 non-null  float64
 56   spl_og_mou_6              67231 non-null  float64
 57   spl_og_mou_7              67312 non-null  float64
 58   spl_og_mou_8              66296 non-null  float64
 59   og_others_6               67231 non-null  float64
 60   og_others_7               67312 non-null  float64
 61   og_others_8               66296 non-null  float64
 62   total_og_mou_6            69999 non-null  float64
 63   total_og_mou_7            69999 non-null  float64
 64   total_og_mou_8            69999 non-null  float64
 65   loc_ic_t2t_mou_6          67231 non-null  float64
 66   loc_ic_t2t_mou_7          67312 non-null  float64
 67   loc_ic_t2t_mou_8          66296 non-null  float64
 68   loc_ic_t2m_mou_6          67231 non-null  float64
 69   loc_ic_t2m_mou_7          67312 non-null  float64
 70   loc_ic_t2m_mou_8          66296 non-null  float64
 71   loc_ic_t2f_mou_6          67231 non-null  float64
 72   loc_ic_t2f_mou_7          67312 non-null  float64
 73   loc_ic_t2f_mou_8          66296 non-null  float64
 74   loc_ic_mou_6              67231 non-null  float64
 75   loc_ic_mou_7              67312 non-null  float64
 76   loc_ic_mou_8              66296 non-null  float64
 77   std_ic_t2t_mou_6          67231 non-null  float64
 78   std_ic_t2t_mou_7          67312 non-null  float64
 79   std_ic_t2t_mou_8          66296 non-null  float64
 80   std_ic_t2m_mou_6          67231 non-null  float64
 81   std_ic_t2m_mou_7          67312 non-null  float64
 82   std_ic_t2m_mou_8          66296 non-null  float64
 83   std_ic_t2f_mou_6          67231 non-null  float64
 84   std_ic_t2f_mou_7          67312 non-null  float64
 85   std_ic_t2f_mou_8          66296 non-null  float64
 86   std_ic_t2o_mou_6          67231 non-null  float64
 87   std_ic_t2o_mou_7          67312 non-null  float64
 88   std_ic_t2o_mou_8          66296 non-null  float64
 89   std_ic_mou_6              67231 non-null  float64
 90   std_ic_mou_7              67312 non-null  float64
 91   std_ic_mou_8              66296 non-null  float64
 92   total_ic_mou_6            69999 non-null  float64
 93   total_ic_mou_7            69999 non-null  float64
 94   total_ic_mou_8            69999 non-null  float64
 95   spl_ic_mou_6              67231 non-null  float64
 96   spl_ic_mou_7              67312 non-null  float64
 97   spl_ic_mou_8              66296 non-null  float64
 98   isd_ic_mou_6              67231 non-null  float64
 99   isd_ic_mou_7              67312 non-null  float64
 100  isd_ic_mou_8              66296 non-null  float64
 101  ic_others_6               67231 non-null  float64
 102  ic_others_7               67312 non-null  float64
 103  ic_others_8               66296 non-null  float64
 104  total_rech_num_6          69999 non-null  int64
 105  total_rech_num_7          69999 non-null  int64
 106  total_rech_num_8          69999 non-null  int64
 107  total_rech_amt_6          69999 non-null  int64
 108  total_rech_amt_7          69999 non-null  int64
 109  total_rech_amt_8          69999 non-null  int64
 110  max_rech_amt_6            69999 non-null  int64
 111  max_rech_amt_7            69999 non-null  int64
 112  max_rech_amt_8            69999 non-null  int64
 113  date_of_last_rech_6       68898 non-null  object
 114  date_of_last_rech_7       68765 non-null  object
 115  date_of_last_rech_8       67538 non-null  object
 116  last_day_rch_amt_6        69999 non-null  int64
 117  last_day_rch_amt_7        69999 non-null  int64
 118  last_day_rch_amt_8        69999 non-null  int64
 119  date_of_last_rech_data_6  17568 non-null  object
 120  date_of_last_rech_data_7  17865 non-null  object
 121  date_of_last_rech_data_8  18417 non-null  object
 122  total_rech_data_6         17568 non-null  float64
 123  total_rech_data_7         17865 non-null  float64
 124  total_rech_data_8         18417 non-null  float64
 125  max_rech_data_6           17568 non-null  float64
 126  max_rech_data_7           17865 non-null  float64
 127  max_rech_data_8           18417 non-null  float64
 128  count_rech_2g_6           17568 non-null  float64
 129  count_rech_2g_7           17865 non-null  float64
 130  count_rech_2g_8           18417 non-null  float64
 131  count_rech_3g_6           17568 non-null  float64
 132  count_rech_3g_7           17865 non-null  float64
 133  count_rech_3g_8           18417 non-null  float64
 134  av_rech_amt_data_6        17568 non-null  float64
 135  av_rech_amt_data_7        17865 non-null  float64
 136  av_rech_amt_data_8        18417 non-null  float64
 137  vol_2g_mb_6               69999 non-null  float64
 138  vol_2g_mb_7               69999 non-null  float64
 139  vol_2g_mb_8               69999 non-null  float64
 140  vol_3g_mb_6               69999 non-null  float64
 141  vol_3g_mb_7               69999 non-null  float64
 142  vol_3g_mb_8               69999 non-null  float64
 143  arpu_3g_6                 17568 non-null  float64
 144  arpu_3g_7                 17865 non-null  float64
 145  arpu_3g_8                 18417 non-null  float64
 146  arpu_2g_6                 17568 non-null  float64
 147  arpu_2g_7                 17865 non-null  float64
 148  arpu_2g_8                 18417 non-null  float64
 149  night_pck_user_6          17568 non-null  float64
 150  night_pck_user_7          17865 non-null  float64
 151  night_pck_user_8          18417 non-null  float64
 152  monthly_2g_6              69999 non-null  int64
 153  monthly_2g_7              69999 non-null  int64
 154  monthly_2g_8              69999 non-null  int64
 155  sachet_2g_6               69999 non-null  int64
 156  sachet_2g_7               69999 non-null  int64
 157  sachet_2g_8               69999 non-null  int64
 158  monthly_3g_6              69999 non-null  int64
 159  monthly_3g_7              69999 non-null  int64
 160  monthly_3g_8              69999 non-null  int64
 161  sachet_3g_6               69999 non-null  int64
 162  sachet_3g_7               69999 non-null  int64
 163  sachet_3g_8               69999 non-null  int64
 164  fb_user_6                 17568 non-null  float64
 165  fb_user_7                 17865 non-null  float64
 166  fb_user_8                 18417 non-null  float64
 167  aon                       69999 non-null  int64
 168  aug_vbc_3g                69999 non-null  float64
 169  jul_vbc_3g                69999 non-null  float64
 170  jun_vbc_3g                69999 non-null  float64
 171  churn_probability         69999 non-null  int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

##### The dataset has 135 float columns, 28 integer and 9 string type columns.
##### Out of 70k records, many columns have less than 20k values in them. They have only 25% of values. So we can drop them.

In [6]:
lst=[]
for i in df.columns:
    if int((df[i].isna().sum()/df.shape[0])*100)>70:
        lst.append(i)
print(len(lst),lst)

30 ['date_of_last_rech_data_6', 'date_of_last_rech_data_7', 'date_of_last_rech_data_8', 'total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8', 'max_rech_data_6', 'max_rech_data_7', 'max_rech_data_8', 'count_rech_2g_6', 'count_rech_2g_7', 'count_rech_2g_8', 'count_rech_3g_6', 'count_rech_3g_7', 'count_rech_3g_8', 'av_rech_amt_data_6', 'av_rech_amt_data_7', 'av_rech_amt_data_8', 'arpu_3g_6', 'arpu_3g_7', 'arpu_3g_8', 'arpu_2g_6', 'arpu_2g_7', 'arpu_2g_8', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8', 'fb_user_6', 'fb_user_7', 'fb_user_8']

##### Above 30 columns would be dropped as they dont have sufficient data

In [7]:
df.drop(columns=lst,axis=0,inplace=True)

In [8]:
#checking new shape
df.shape

(69999, 142)

In [9]:
#dropping rows having all null values
df=df.dropna(axis=0,how='all')

In [10]:
#checking new shape
df.shape

(69999, 142)

##### There is not change in rows of original dataset after dropping rows with all null values. This means no row has all null values in dataset.

##### Checking if in a columns all values are unique or contains a single not null value in all rows because these columns do not add much information to model

In [11]:
# calculating unique values of each column and checking on that
k=df.nunique()
j=k[(k.values ==1) | (k.values==69999)]
j.index

Index(['id', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
       'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8',
       'std_og_t2c_mou_6', 'std_og_t2c_mou_7', 'std_og_t2c_mou_8',
       'std_ic_t2o_mou_6', 'std_ic_t2o_mou_7', 'std_ic_t2o_mou_8'],
      dtype='object')

In [12]:
#dropping the columns 
df.drop(j.index,axis=1,inplace=True)

In [13]:
#checking new shape
df.shape

(69999, 128)

In [14]:
df['churn_probability'].value_counts()

0    62867
1     7132
Name: churn_probability, dtype: int64

##### we can see that we have around 62K data for loyal customers and around 7k data for churned customer

In [15]:
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 128 columns):
 #    Column               Non-Null Count  Dtype
---   ------               --------------  -----
 0    arpu_6               69999 non-null  float64
 1    arpu_7               69999 non-null  float64
 2    arpu_8               69999 non-null  float64
 3    onnet_mou_6          67231 non-null  float64
 4    onnet_mou_7          67312 non-null  float64
 5    onnet_mou_8          66296 non-null  float64
 6    offnet_mou_6         67231 non-null  float64
 7    offnet_mou_7         67312 non-null  float64
 8    offnet_mou_8         66296 non-null  float64
 9    roam_ic_mou_6        67231 non-null  float64
 10   roam_ic_mou_7        67312 non-null  float64
 11   roam_ic_mou_8        66296 non-null  float64
 12   roam_og_mou_6        67231 non-null  float64
 13   roam_og_mou_7        67312 non-null  float64
 14   roam_og_mou_8        66296 non-null  float64
 15   loc_og_t2t_mou_6     67231 non-null  float64
 16   loc_og_t2t_mou_7     67312 non-null  float64
 17   loc_og_t2t_mou_8     66296 non-null  float64
 18   loc_og_t2m_mou_6     67231 non-null  float64
 19   loc_og_t2m_mou_7     67312 non-null  float64
 20   loc_og_t2m_mou_8     66296 non-null  float64
 21   loc_og_t2f_mou_6     67231 non-null  float64
 22   loc_og_t2f_mou_7     67312 non-null  float64
 23   loc_og_t2f_mou_8     66296 non-null  float64
 24   loc_og_t2c_mou_6     67231 non-null  float64
 25   loc_og_t2c_mou_7     67312 non-null  float64
 26   loc_og_t2c_mou_8     66296 non-null  float64
 27   loc_og_mou_6         67231 non-null  float64
 28   loc_og_mou_7         67312 non-null  float64
 29   loc_og_mou_8         66296 non-null  float64
 30   std_og_t2t_mou_6     67231 non-null  float64
 31   std_og_t2t_mou_7     67312 non-null  float64
 32   std_og_t2t_mou_8     66296 non-null  float64
 33   std_og_t2m_mou_6     67231 non-null  float64
 34   std_og_t2m_mou_7     67312 non-null  float64
 35   std_og_t2m_mou_8     66296 non-null  float64
 36   std_og_t2f_mou_6     67231 non-null  float64
 37   std_og_t2f_mou_7     67312 non-null  float64
 38   std_og_t2f_mou_8     66296 non-null  float64
 39   std_og_mou_6         67231 non-null  float64
 40   std_og_mou_7         67312 non-null  float64
 41   std_og_mou_8         66296 non-null  float64
 42   isd_og_mou_6         67231 non-null  float64
 43   isd_og_mou_7         67312 non-null  float64
 44   isd_og_mou_8         66296 non-null  float64
 45   spl_og_mou_6         67231 non-null  float64
 46   spl_og_mou_7         67312 non-null  float64
 47   spl_og_mou_8         66296 non-null  float64
 48   og_others_6          67231 non-null  float64
 49   og_others_7          67312 non-null  float64
 50   og_others_8          66296 non-null  float64
 51   total_og_mou_6       69999 non-null  float64
 52   total_og_mou_7       69999 non-null  float64
 53   total_og_mou_8       69999 non-null  float64
 54   loc_ic_t2t_mou_6     67231 non-null  float64
 55   loc_ic_t2t_mou_7     67312 non-null  float64
 56   loc_ic_t2t_mou_8     66296 non-null  float64
 57   loc_ic_t2m_mou_6     67231 non-null  float64
 58   loc_ic_t2m_mou_7     67312 non-null  float64
 59   loc_ic_t2m_mou_8     66296 non-null  float64
 60   loc_ic_t2f_mou_6     67231 non-null  float64
 61   loc_ic_t2f_mou_7     67312 non-null  float64
 62   loc_ic_t2f_mou_8     66296 non-null  float64
 63   loc_ic_mou_6         67231 non-null  float64
 64   loc_ic_mou_7         67312 non-null  float64
 65   loc_ic_mou_8         66296 non-null  float64
 66   std_ic_t2t_mou_6     67231 non-null  float64
 67   std_ic_t2t_mou_7     67312 non-null  float64
 68   std_ic_t2t_mou_8     66296 non-null  float64
 69   std_ic_t2m_mou_6     67231 non-null  float64
 70   std_ic_t2m_mou_7     67312 non-null  float64
 71   std_ic_t2m_mou_8     66296 non-null  float64
 72   std_ic_t2f_mou_6     67231 non-null  float64
 73   std_ic_t2f_mou_7     67312 non-null  float64
 74   std_ic_t2f_mou_8     66296 non-null  float64
 75   std_ic_mou_6         67231 non-null  float64
 76   std_ic_mou_7         67312 non-null  float64
 77   std_ic_mou_8         66296 non-null  float64
 78   total_ic_mou_6       69999 non-null  float64
 79   total_ic_mou_7       69999 non-null  float64
 80   total_ic_mou_8       69999 non-null  float64
 81   spl_ic_mou_6         67231 non-null  float64
 82   spl_ic_mou_7         67312 non-null  float64
 83   spl_ic_mou_8         66296 non-null  float64
 84   isd_ic_mou_6         67231 non-null  float64
 85   isd_ic_mou_7         67312 non-null  float64
 86   isd_ic_mou_8         66296 non-null  float64
 87   ic_others_6          67231 non-null  float64
 88   ic_others_7          67312 non-null  float64
 89   ic_others_8          66296 non-null  float64
 90   total_rech_num_6     69999 non-null  int64
 91   total_rech_num_7     69999 non-null  int64
 92   total_rech_num_8     69999 non-null  int64
 93   total_rech_amt_6     69999 non-null  int64
 94   total_rech_amt_7     69999 non-null  int64
 95   total_rech_amt_8     69999 non-null  int64
 96   max_rech_amt_6       69999 non-null  int64
 97   max_rech_amt_7       69999 non-null  int64
 98   max_rech_amt_8       69999 non-null  int64
 99   date_of_last_rech_6  68898 non-null  object
 100  date_of_last_rech_7  68765 non-null  object
 101  date_of_last_rech_8  67538 non-null  object
 102  last_day_rch_amt_6   69999 non-null  int64
 103  last_day_rch_amt_7   69999 non-null  int64
 104  last_day_rch_amt_8   69999 non-null  int64
 105  vol_2g_mb_6          69999 non-null  float64
 106  vol_2g_mb_7          69999 non-null  float64
 107  vol_2g_mb_8          69999 non-null  float64
 108  vol_3g_mb_6          69999 non-null  float64
 109  vol_3g_mb_7          69999 non-null  float64
 110  vol_3g_mb_8          69999 non-null  float64
 111  monthly_2g_6         69999 non-null  int64
 112  monthly_2g_7         69999 non-null  int64
 113  monthly_2g_8         69999 non-null  int64
 114  sachet_2g_6          69999 non-null  int64
 115  sachet_2g_7          69999 non-null  int64
 116  sachet_2g_8          69999 non-null  int64
 117  monthly_3g_6         69999 non-null  int64
 118  monthly_3g_7         69999 non-null  int64
 119  monthly_3g_8         69999 non-null  int64
 120  sachet_3g_6          69999 non-null  int64
 121  sachet_3g_7          69999 non-null  int64
 122  sachet_3g_8          69999 non-null  int64
 123  aon                  69999 non-null  int64
 124  aug_vbc_3g           69999 non-null  float64
 125  jul_vbc_3g           69999 non-null  float64
 126  jun_vbc_3g           69999 non-null  float64
 127  churn_probability    69999 non-null  int64
dtypes: float64(99), int64(26), object(3)
memory usage: 68.4+ MB

In [32]:
#checking on object data types
df[['date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8']].head()

  date_of_last_rech_6 date_of_last_rech_7 date_of_last_rech_6
0           6/22/2014           7/10/2014           6/22/2014
1           6/12/2014           7/10/2014           6/12/2014
2           6/11/2014           7/22/2014           6/11/2014
3           6/15/2014           7/21/2014           6/15/2014
4           6/25/2014           7/26/2014           6/25/2014

In [35]:
##### converting string to dates
df['date_of_last_rech_6']=pd.to_datetime(df['date_of_last_rech_6'])
df['date_of_last_rech_7']=pd.to_datetime(df['date_of_last_rech_7'])
df['date_of_last_rech_8']=pd.to_datetime(df['date_of_last_rech_8'])

In [39]:
df['date_of_last_rech_7'].isna().sum()

1234

##### Filling null values in date columns with mode

In [ ]:
df['date_of_last_rech_6'].fillna(value=df['date_of_last_rech_6'].mode(),inplace=True)
df['date_of_last_rech_7'].fillna(value=df['date_of_last_rech_7'].mode(),inplace=True)
df['date_of_last_rech_8'].fillna(value=df['date_of_last_rech_8'].mode(),inplace=True)

##### Filling all null values in data with mean of columns

In [41]:
for i in df.columns[df.isnull().sum()!=0]:
    df[i].fillna(value=df[i].mean(),inplace=True)

In [42]:
df.columns[df.isnull().sum()!=0]

Index([], dtype='object')

##### All null values were filled.

### Exploratory Data Analysis

#### Importing EDA Libraries

In [46]:
import matplotlib.pyplot as plt
import seaborn as sns

#### Univariate Analysis on numeric columns

In [ ]:
#starting with numerical columns
for i,col in enumerate(df.describe().columns):
    plt.figure(i)
    sns.boxplot(data=df,x=col)